---
Checks:          '*, clang-analyzer-*, cppcoreguidelines-*, modernize-*, performance-*, llvm-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
UseColor: ''
InheritParentConfig: true
FormatStyle:     file